.metadata/
*.log
*.class
bin/
target/



# Ignore MySQL connector JAR
*.jar

# Ignore JDBC connection files (contain credentials)
src/com/monocept/JdbcConnection/DBConnection.java
src/com/monocept/JdbcConnection/ConnectionTest.java