.metadata/
*.log
*.class
bin/
target/



# Ignore MySQL connector JAR
*.jar

# Ignore JDBC connection files (contain credentials)
Day25_JDBC_Connection/src/com/monocept/JdbcConnection/DBConnection.java
Day25_JDBC_Connection/src/com/monocept/JdbcConnection/ConnectionTest.java